
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>Personal Portfolio Website</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/4ad529d2cd.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="header">
    <div class="container">
        <nav>
            <img src="images/logo image.png" class="logo"/>
            <ul id="sidemenu">
                <li><a href="#header">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#certificates">Certificates</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
                <i class="fas fa-times" onclick="closemenu()"></i>
            </ul>
            <i class="fa-solid fa-bars" onclick="openmenu()"></i>
        </nav>
        <div class="header-text">
            <p>Student at Temasek Poly</p>
            <h1>Hi, I'm <span>M Thenappan</span>, first year<br/>student from school of IIT at TP</h1>
        </div>
    </div>
</div>

<div id="about">
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <img src="images/about me image.png"/>
            </div>
            <div class="about-col-2">
                <h1 class="sub-title">About Me</h1>
                <p>I am a inspiring cybersecurity analsyt who is studying at the common ict programme year 1 in Temasek Polytecnic.I am always very
                    interested to learning new technological skills and improve myself, and also very open to suggestions and remarks from peers, seniors and lecturers.
                    I am a team player and gel well along with all my friends and get easily along with new team members during my group projects and will never hesitate
                    to give a helping hand to anyone in need of help.</p>

                <div class="tab-titles">
                    <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                    <p class="tab-links" onclick="opentab('experience')">Experience</p>
                    <p class="tab-links" onclick="opentab('education')">Education</p>
                </div>
                <div class="tab-contents active-tab" id="skills">
                    <ul>
                        <li><span>Python</span><br></br>Making Games</li>
                        <li><span>Adobe XD</span><br></br>Making Apps(Music)</li>
                        <li><span>Power BI &and; Knime workspace</span><br></br>Data Analytics</li>
                    </ul>
                </div>
                <div class="tab-contents" id="experience">
                    <ul>
                        <li><span>Teached html</span><br></br>To primary school kids during and project</li>
                        <li><span>Excel</span><br></br>Made accounts for household income and expense</li>
                        <li><span>Teached Powerpoint/Word</span><br></br>For senior citizens and P5 children</li>
                    </ul>
                </div>
                <div class="tab-contents" id="education">
                    <ul>
                        <li><span>Primary 2013-2018</span><br></br>Tampines Primary School</li>
                        <li><span>Secondary 2019-2022</span><br></br>Loyang View Secondary School</li>
                        <li><span>Diploma 2023-2026</span><br></br>Studying in Temasek Poly School of IIT</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="certificates">
    <div class="container">
        <h1 class="sub-title">My Certificates</h1>
        <div class="certificates-list">
            <div>
                <i class="fa-solid fa-lock"></i>
                <h2>Windows 11 Security</h2>
                <p>Learnt essentials skills to safeguard windows 11 PCs. Skills like authentication and accounts, authorization,
                    encryption and account protection by firewalls and network protection methods. Lastly learnt how to perform group policy
                    and a quick glance of the other windows 11 security topics.</p>
                <a href="#">Learn More</a>
            </div>
            <div>
                <i class="fa-brands fa-python"></i>
                <h2>Python Essential Training</h2>
                <p>Explored variables and types, operators, functions, classes, objects, and more. Go over basic data types like ints and floats,
                    Booleans, and strings. Deep dive into basic data structures, control flow, functions, classes, and objects. Find out how to
                    handle errors and exceptions, as well as threads and processes. Plus, discovered how to work with different types of files in
                    Python, pass command-line arguments to your Python script, and create modules and packages.</p>
                <a href="#">Learn More</a>
            </div>
            <div>
                <i class="fa-brands fa-app-store-ios"></i>
                <h2>Adobe XD: Prototyping Tips and Tricks</h2>
                <p> Learnt how to create fixed-position and sliding menus, preserve scroll position for slideshows, add automatic animation and
                    draggable interactions, set up timed transitions, and incorporate voice prototyping: voice triggers and speech playback.</p>
                <a href="#">Learn More</a>
            </div>
        </div>
    </div>
</div>

<div id="portfolio">
    <div class="container">
        <h1 class="sub-title">My Works</h1>
        <div class="work-lists">
            <style>
                .work img {
                    width: 500px;
                    height: 450px;
                }
            </style>
            <div class="work">
                <img src="images/work1.webp"/>
                <div class="layer">
                    <h3>Music App</h3>
                    <p>This is a advanced functional app made in Adobe XD which had varies hey functions which makes user experience
                        a unforgetable one and the user interface with easy navigation.</p>
                    <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="images/work2.png"/>
                <div class="layer">
                    <h3>Tkinter Gui Game</h3>
                    <p>I made a simple game with in python language using the TKinter library. In this game we will have four characters and
                        from that we must choose two and defeat the other two enemies. PLayer characters will be controlled by us and the enemies
                        moves are random. PLayers have attack, defend and a few skills.</p>
                    <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="images/data analytics image.avif"/>
                <div class="layer">
                    <h3>Data Analytics</h3>
                    <p>I analysed a huge amount of data on the customers going to restaurats in America, and found a few important things for
                        the owners of restaurants; like what can they do to improve thier business. On the other hand i also looked upon the customers
                        side and saw which day and in which restaurant it was the cheapest to eat in and many more other facts.</p>
                    <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
        <a href="#" class="btn">See More</a>
    </div>
</div>

<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title">Contact Me</h1>
                <p><i class="fa-regular fa-paper-plane"></i> thenappan@gmail.com</p>
                <p><i class="fa-solid fa-phone"></i> 82223333</p>
                <div class="social-icons">
                    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
                </div>
                <a href="images/Downlodable file(secret of success).docx" class="btn btn2">Download-Quick Tip for Life</a>
            </div>
            <div class="contact-right">
                <form name="submit-to-google-sheet" th:object="${contact}" method="POST">
                    <input type="text" name="Name" th:field="*{name}" placeholder="Your Name" required="required"/>
                    <input type="email" name="Email" th:field="*{email}"  placeholder="Your Email" required="required"/>
                    <textarea name="Message" rows="6" th:field="*{message}"  placeholder="Your Message/Question"></textarea>
                    <button type="submit" class="btn btn2">Submit</button>
                </form>
                <span id="msg"></span>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p><i class="fa-solid fa-shield"></i>Copyright © Thenappan. This website is strictly not allowed to be copyrighted by anyone except authorized users.</p>
    </div>
</div>

<script>

    var tablinks = document.getElementsByClassName("tab-links");
    var tabcontents = document.getElementsByClassName("tab-contents");

    function opentab(tabname){
        for(tablink of tablinks){
            tablink.classList.remove("active-link");
        }
        for(tabcontent of tabcontents){
            tabcontent.classList.remove("active-tab");
        }
        event.currentTarget.classList.add("active-link");
        document.getElementById(tabname).classList.add("active-tab");
    }
</script>

<script>

    var sidemenu = document.getElementById("sidemenu")

    function openmenu(){
        sidemenu.style.right = "0";
    }
    function closemenu(){
        sidemenu.style.right = "-200px";
    }

</script>
<script>
    const scriptURL = '/saveContact'
    const form = document.forms['submit-to-google-sheet']
    const msg = document.getElementById("msg")
    form.addEventListener('submit', e => {
      e.preventDefault()
      fetch(scriptURL, { method: 'POST', body: new FormData(form)})
        .then(response => {
            msg.innerHTML = "Message sent successfully!"
            setTimeout(function(){
                msg.innerHTML = ""
            },5000)
            form.reset()
        })
        .catch(error => console.error('Error!', error.message))
    })
  </script>

</body>
</html>

